.committees {
    /* aligns with other sections without 
    using margin og padding */
    max-width: calc(var(--w-page) - 2rem);
    margin: auto;
}

.committees .tabs__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.committees .tabs__nav-item {
    width: 100%;
}

.committees .tabs__nav-title {
    padding: 0;
}

/* breaking BEM rules because the svg is a component */
.committees .tabs__nav-title svg {
    display: block;
    width: 100%;
    max-width: 4rem;
}

.committees .tabs__content {
    padding: 1rem 1rem 2rem 1rem;
}

.committees__info {
    display: grid;
    grid-gap: 3rem;
    align-items: start;
    grid-template-columns: auto;
}

.committees__heading {
    margin-bottom: 0;
}

.committees__text {
    grid-column: 1 / -2;
    max-width: 45rem;
}

.board-members {
    grid-template-columns: 1fr;
    display: grid;
    justify-content: space-around;
}

.board-members__intro {
    grid-column: 1 / -1;
}





/* ----------------------------------------------- */
/* Comittee-logo color managment for tab animation */
/* ----------------------------------------------- */


/* fill color to match background of tab */
.committee-logo--fill-bg-color {
    fill: var(--c-bg-box);
}

.committee-logo--fill-color {
    fill: var(--c-on-box-dim);
    transition: .2s;
}

/* iconic login corners */
/* currently not in use */
.committee-logo--corner {
    fill: none; /* change this to show corners */
}

.committee-logo--stroke-color {
    stroke: var(--c-on-box-dim);
    transition: .2s;
}

.tabs__nav-item:hover .committee-logo--corner {
    fill: none; /* change this if you want to show corners on hover */
}

.tabs__nav-item__title--active .committee-logo--corner {
    fill: none; /* change this if you want to show corners when active */
}

.tabs__nav-item:hover .committee-logo--stroke-color, .tabs__nav-title--active .committee-logo--stroke-color {
    stroke: var(--c-font-main);
}

.tabs__nav-item:hover .committee-logo--fill-color, .tabs__nav-title--active .committee-logo--fill-color {
    fill: var(--c-font-main);
}

.tabs__nav-title--active .committee-logo--fill-bg-color {
    fill: var(--c-bg-box); 
}


@media only screen and (min-width: 500px) { 

    .committees .tabs__nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .committees .tabs__nav-title svg {
        max-width: 6rem;
    }
}

@media only screen and (min-width: 420px) { 
    .board-members {
        grid-template-columns: repeat(auto-fit, 11rem);
        gap: 1rem;
    }
}

@media only screen and (min-width: 600px) { 
    .board-members {
        gap: 2.5rem;
    }
}

@media only screen and (min-width: 800px) {

    .committees .tabs__content {
        padding: 2rem 3rem 3rem 3rem;
    }

    .committees__info {
        grid-template-columns: auto 11rem;
    }

    .board-members {
        gap: 4rem;
    }

}

@media only screen and (min-width: 1200px) {
    .committees .tabs__content {
        padding: 2rem 5rem 3rem 5rem;
    }
}
