.logchamp {
    display: block;
    width: 11rem;
    margin: 1rem auto;
}

.logchamp__title {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--c-primary);
    font-weight: 500;
}

.logchamp__name {
    color: var(--c-font-main);
}

.logchamp__discord {
    color: rgb(5, 186, 0);
}

.logchamp p:last-child {
    margin-top: 1rem;
    font-size: .9rem; /* some idiot's discord tag was too long */
}
