.tabs {
    width: 100%;
}

.tabs__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .7rem;
    padding: .7rem;
}

.tabs__nav-item {
    list-style: none;
    border-radius: .3rem;
    overflow: hidden;
    background-color: var(--c-bg-box);
    transition: .2s;
    width: 100%;
    box-shadow: var(--shadow-box);
}

.tabs__nav-item:hover {
    cursor: pointer;
}

.tabs__nav-title {
    padding-bottom: .3rem;
    width: fit-content;
    height: 100%;
    display: block;
    margin: auto;
    transition: .2s;
    color: var(--c-on-box-dim);
    padding: .5rem;
    border-bottom: .3rem solid var(--c-bg-box);
}

.tabs__nav-item:hover .tabs__nav-title {
    color: var(--c-font-main);
}

.tabs__nav-title--active {
    color: var(--c-font-main);
    border-color: var(--c-primary);
}

.tabs__content {
    background-color: var(--c-bg-box);
    padding: 1rem;
    box-shadow: var(--shadow-box);
}


@media only screen and (min-width: 1200px) {

    .tabs__nav {
        padding: .7rem 0;
    }

    .tabs__content {
        border-radius: .3rem;
    }
}
