.image-carousel {
    display: flex;
    margin-top: 2rem;
}

.image-carousel__slider {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.image-carousel__slide-track {
    display: flex;
    width: calc((16.5rem + 1rem) * 30); /* 250px * maxImages*2 , remember to also change for large screens */
    animation: scroll 100s linear infinite; /* 8 * maxImages */
}

.image-carousel__slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc((-16.5rem - 1rem) * 15)); /* -250px * maxImages */
    }
}

.image-carousel__slide {
    display: flex;
    padding: .5rem;
    transition: transform .3s;
}

.image-carousel__slide:hover {
    transform: scale(1.02);
}

.image-carousel__img {
    transition: transform 1s;
    border-radius: .5rem;
    display: block;
    width: 16.5rem;
}

.image-carousel__info {
    padding: .5rem;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    align-self: end;
    width: 16.5rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    transition: .5s;
}

.image-carousel__title {
    font-size: 1.1rem;
    line-height: 1.2em;
    color: white;
    font-weight: 600;
}

.image-carousel__description {
    font-size: .9rem;
    color: white;
}

@media screen and (min-width: 400px) {
    .image-carousel__slide-track {
        width: calc((18rem + 1rem) * 30); /* 250px * maxImages*2 , remember to also change for large screens */
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc((-18rem - 1rem) * 15)); /* -250px * maxImages */
        }
    }

    .image-carousel__img {
        transition: transform 1s;
        border-radius: .5rem;
        display: block;
        width: 18rem;
    }

    .image-carousel__info {
        padding: 1rem;
        width: 18rem;
    }
}

@media screen and (min-width: 800px) {

    .image-carousel {
        border-radius: .5rem;
        margin-top: 4rem;
    }

    .image-carousel__slide-track {
        width: calc((28rem + 2rem) * 30); /* 250px * maxImages*2 , remember to also change for large screens */
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc((-28rem - 2rem) * 15)); /* -250px * maxImages */
        }
    }

    .image-carousel__slide {
        padding: 1rem;
    }

    .image-carousel__img {
        transition: transform 1s;
        border-radius: .5rem;
        display: block;
        width: 28rem;
    }

    .image-carousel__info {
        padding: 1rem;
        width: 28rem;
    }

    .image-carousel__title {
        font-size: 1.2rem;
    }
    
    .image-carousel__description {
        font-size: 1rem;
    }
}


@media screen and (min-width: 1200px) {
    .image-carousel {
        border-radius: .5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}