.theme-toggle {
    display: block;
    cursor: pointer;
    border-radius: .3rem;
}

.theme-toggle:hover {
    background-color: rgb(90,90,90,0.1);
}

.theme-toggle__svg {
    height: 3rem;
    padding: .8rem .8rem;
}


/* 
    NOTE: the ".light" class below is used for the theme 
    toggle animation.
    Dont use this class for color changes, use root varibles
    for color managment. See app.css
*/

.light .theme-toggle__svg {
    fill: var(--c-moon);
}

.dark .theme-toggle__svg {
    fill: var(--c-sun);
}

.theme-toggle__sun-ray {
    transition: .4s;
    transition: .4s;
}

.light .theme-toggle__sun-ray {
    opacity: 0;
}

.dark .theme-toggle__sun-ray {
    opacity: 1;
}

.theme-toggle__mask-circle {
    transition: .4s;
    z-index: 999;
}

.dark .theme-toggle__mask-circle {
    transform: translate(2rem, -1rem);
}

.theme-toggle__sun-moon {
    transform-origin: center;
    transition: .4s;
}

.light .theme-toggle__sun-moon {
    transform: scale(1.9);
}
