.events {
  padding: 0 .5rem;
}

.events__filter-container {
  padding: 1rem
}

.events__list {
  list-style-type: none;
  padding-top: 1rem;
}

@media only screen and (min-width: 400px) {

  .events {
    padding: 0 1rem;
  }

}

@media only screen and (min-width: 1000px) {

  .events {
    display: grid;
    grid-template-columns: 17rem auto;
    grid-template-areas: 'left right';
    gap: 3vw;
    padding: 2rem 1rem;
  }  

  .events__section--left {
    grid-area: left;
  }
  
  .events__section--right {
    grid-area: right;
  }

  .events__filter-container {
    padding: .5rem 0 0 0;
    position: relative;
  }

  .events__filter-container:after {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-width: .7rem;
    border-color: var(--c-corner-decor);
    border-style: none solid solid none;
    bottom: 0;
    right: 0;
    transition: .1s;
  }

  .events__filter-container:before {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-width: .7rem;
    border-color: var(--c-corner-decor);
    border-style: solid solid none none;
    top: 0;
    right: 0;
    transition: .1s;
  }

  /* disable any drop-down-box effects */
  .events .drop-down-box {
    box-shadow: none;
  }
  .events .drop-down-box__toggle {
    display: none;
  }
  .events .drop-down-box__content {
    background-color: rgb(0,0,0,0);
    height: auto;
    max-height: 100rem;
    border-radius: 0;
  }

  .events__list {
    padding-top: 0;
  }
}