@media only screen and (min-width: 800px) {
    .tabs__nav-title--active .bedkom-logo__c1 {
        animation: c1 1.5s ease 1;
    }

    .tabs__nav-title--active .bedkom-logo__l1 {
        animation: l1 1.5s ease 1;
    }

    .tabs__nav-title--active .bedkom-logo__c2 {
        animation: c2 1.5s ease 1;
    }

    .tabs__nav-title--active .bedkom-logo__l2 {
        animation: l2 1.5s ease 1;
    }

    .tabs__nav-title--active .bedkom-logo__c3 {
        animation: c3 1.5s ease 1;
    }

    .tabs__nav-title--active .bedkom-logo__l3 {
        animation: l3 1.5s ease 1;
    }

    .tabs__nav-title--active .bedkom-logo__c4 {
        animation: c4 1.5s ease 1;
    }

    .tabs__nav-title--active .bedkom-logo__l4 {
        animation: l4 1.5s ease 1;
    }

    .tabs__nav-title--active .bedkom-logo__c5 {
        animation: c5 1.5s ease 1;
    }

    .tabs__nav-title--active .bedkom-logo__l5 {
        animation: l5 1.5s ease 1;
    }

    .tabs__nav-title--active .bedkom-logo__c6 {
        animation: c6 1.5s ease 1;
    }

    @keyframes c1 {
        40% {
            transform: translate(23%, -14%);
        }
        60% {
            transform: translate(23%, -14%);
        }
        90% {
            transform: translate(0, 0);
        }
    }

    @keyframes l1 {
        37% {
            d: path('m 41 68 l 0 0')
        }
        60% {
            d: path('m 41 68 l 0 0')
        }
        90% {
            d: path('m 41 68 l -10 6')
        }
    }                   

    @keyframes c2 {
        40% {
            transform: translate(30%, 17%);
        }
        70% {
            transform: translate(0, 0);
        }
    }

    @keyframes l2 {
        37% {
            d: path('m 41 52 l 0 0')
        }
        42% {
            d: path('m 41 52 l 0 0')
        }
        70% {
            d: path('m 41 52 l -18 -11')
        }
    }

    @keyframes c3 {
        40% {
            transform: translate(11%, 36%);
        }
        60% {
            transform: translate(11%, 36%);
        }
        90% {
            transform: translate(0, 0);
        }
    }

    @keyframes l3 {
        37% {
            d: path('m 49 45 l 0 0')
        }
        60% {
            d: path('m 49 45 l 0 0')
        }
        90% {
            d: path('m 49 45 l -7 -21')
        }
    }

    @keyframes c4 {
        40% {
            transform: translate(-18%, 30%);
        }
        70% {
            transform: translate(0, 0);
        }
    }                   

    @keyframes l4 {
        37% {
            d: path('m 64 47 l 0 0')
        }
        40% {
            d: path('m 64 47 l 0 0')
        }
        70% {
            d: path('m 64 47 l 11 -17')
        }
    }                

    @keyframes c5 {
        40% {
            transform: translate(-18%, -13%);
        }
        70% {
            transform: translate(0, 0);
        }
    }   

    @keyframes l5 {
        37% {
            d: path('m 67 69 l 0 0')
        }
        40% {
            d: path('m 67 69 l 0 0')
        }
        70% {
            d: path('m 67 69 l 7 6')
        }
    }

    @keyframes c6 {
        45% {
            stroke-width: 5;
        }
        70% {
            stroke-width: 3;
        }
    }
}