@media only screen and (min-width: 800px) {
    .tabs__nav-title--active .ctfkom-logo__flag-piece-1 {
        animation: flagpiece1 0.5s linear, flagpiece1 0.8s ease-out 0.5s;
    }

    .tabs__nav-title--active .ctfkom-logo__flag-piece-2 {
        animation: flagpiece2 0.5s linear, flagpiece2 0.8s ease-out 0.5s;
    }

    .tabs__nav-title--active .ctfkom-logo__flag-piece-3 {
        animation: flagpiece3 0.5s linear, flagpiece3 0.8s ease-out 0.5s;
    }

    @keyframes flagpiece1 {
        45% {
            d: path('m 25 25 l 0 0 l 5 25 l 0 0 z');
        }
        50% {
            d: path('m 25 25 l 5 0 l 5 25 l -5 0 z');
        }
        100% {
            d: path('m 25 27.5 l 25 0 l 5 25 l -25 0 z');
        }
    }

    @keyframes flagpiece2 {
        50% {
            d: path('m 25 30 l 50 0 l 5 25 l -50 0 z');
        }
        100% {
            d: path('m 45 32.5 l 25 0 l 5 25 l -25 0 z');
        }
        
    }

    @keyframes flagpiece3 {
        50% {
            d: path('m 70 35 l 0 0 l 5 25 l 0 0 z');
        }
        51% {
            stroke: none;
        }
        100% {
            stroke: none;
        }
    }
}