@media only screen and (min-width: 800px) {
   
    .tabs__nav-title--active .satkom-logo__flash1 {
        animation: flash1 .6s linear 2;
        
    }
    .tabs__nav-title--active .satkom-logo__flash2 {
        animation: flash2 .6s linear 2;
        
    }

    @keyframes flash1 {
        
        85% {
            d: path("M94 55 L54.6 93.4");
        }

        100% {
            d: path("M94 55 L54.6 93.4");
        }
    }
    

    @keyframes flash2 {
        
        10% {
            d: path("M44 5 L4.6 43.4");
        }

        95% {
            d: path("M94 55 L54.6 93.4");
        }

        100% {
            d: path("M94 55 L54.6 93.4");
        }
    }
}