@media only screen and (min-width: 800px) {
    .tabs__nav-title--active .styret-logo__handlebars {
        animation: tilt 1.5s ease-in-out 1;
        transform-origin: 50px 70px;
    }

    @keyframes tilt {
        25% {
            transform: rotate(-15deg);
        }
        35% {
            transform: rotate(-15deg);
        }
        70% {
            transform: rotate(13deg);
        }
        80% {
            transform: rotate(13deg);
        }
        100% {
            transform: rotate(0);
        }
    }
}