@media only screen and (min-width: 800px) {
    .tabs__nav-title--active .tekkom-logo__caret {
        animation: caret 1.2s ease;
        fill: var(--c-font-main);
    }

    .tabs__nav-title--active .tekkom-logo__block {
        animation: block 1.2s ease;
    }

    @keyframes caret {
        0% {
            stroke: var(--c-font-main);
        }
        55% {
            animation-timing-function: steps(3);
            d: path('m15 25 l0 50');
        }
        80% {
            d: path('m85 25 l0 50');
            stroke: var(--c-font-main);
        }
        100% {
            stroke: var(--c-font-main);
        }
    }

    @keyframes block {
        55% {
            animation-timing-function: steps(3);
            d: path('m 16 25 l 70 0 l 0 50 l -70 0 z');
        }
        80% {
            d: path('m 86 25 l 0 0 l 0 50 l 0 0 z');
        }
    }
}