.footer {
  max-width: 75rem;
  margin: auto;
  padding: 1rem;
}

.footer__picture img {
  display: block;
  max-width: 15rem;
  width: 100%;
}

.footer__picture-login img {
  margin: 3rem auto 4rem auto;
}

.footer__picture-sponsor img {
  margin: 1rem auto;
}

.footer__picture-sponsor p {
  text-align: center;
  color: #a9a9a9;
}

.footer__picture__sponsor img {
  display: block;
  max-width: 20rem;
  width: 100%;
  margin: 1rem auto;
}

.footer__picture__sponsor p {
  color: #a9a9a9;
  font-size: 1.1rem;
  text-align: center;
  padding-bottom: 2rem;
}

.footer__p {
  font-size: .8rem;
  line-height: 1.2rem;
  padding: 0;
  margin: 0;
  color: #a9a9a9;
  text-align: center;
}


@media only screen and (min-width: 800px) {

  .footer {
    padding: 2rem;
  }

  .footer__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10rem;
  }

  .footer__picture-login img {
    max-width: 20rem;
    height: 8rem;
    margin: 1rem auto;
  }

  .footer__picture-sponsor img {
    max-width: 25rem;
    height: 8rem;
    margin: 0;
  }
}
