
.contact-card {
    max-width: 75rem;
    width: 100%;
    padding: 1rem;
}

.contact-card__text {
    margin-bottom: 2rem;
}

.contact-card__map {
    padding: 2rem;
    width: 100%;
    max-width: 40rem;
}


@media only screen and (min-width: 600px) {
    .contact-card__info {
        display: flex;
        gap: 5rem;
    }

    .contact-card__text {
        max-width: 20rem;
        width: 100%;
    }

    .contact-card__map {
        padding: 2rem 0;
    }
}
